/*body {
  *font-family: 'Ubuntu', sans-serif;
  *width:960px;
}*/

/*p{
  *color:#525252;
  *font-size:12px;
}*/

.skillbar {
	position:relative;
	*display:block;
	
	margin-left: 40%;
	margin-bottom: 12px;

	width: calc(60% - 40px);
	height: 20px;
	
	*border: 1px solid red;
	*border:1px solid rgba(255,255,255,0.5);
	*margin-right:40px;
	/*background-image: linear-gradient(left, transparent 54px,rgba(50,58,68,1) 54px, rgba(50,58,68,1) 100%);
    background-image: -webkit-linear-gradient(left, transparent 54px,rgba(50,58,68,1) 54px, rgba(50,58,68,1) 100%);
    background-image: -moz-linear-gradient(left, transparent 54px,rgba(50,58,68,1) 54px, rgba(50,58,68,1) 100%);
    background-image: -ms-linear-gradient(left, transparent 54px,rgba(50,58,68,1) 54px, rgba(50,58,68,1) 100%);
    background-image: -o-linear-gradient(left, transparent 54px,rgba(50,58,68,1) 54px, rgba(50,58,68,1) 100%);
	*/
	
	-webkit-border-radius: 0px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius: 0px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomright: 15px;
	border-radius: 0px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	
	
	background: rgba(0,0,0,0.05);

	-moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
	box-shadow:         inset 0 0 10px rgba(0,0,0,0.3);
    
    /*border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;*/
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	font-family: 'QuickSand Medium';
	font-size:14px;
	font-weight:normal;
	*color: #FFFFFF;
	
	*position:absolute;
	*top: -50%;
	*top:-14px;
	*left:-54px;
	*width:54px;
	*height:5px;
	*line-height:6px;
	
	*background: rgba(0,0,0,0.05);
	
	margin-left: -70%;
	*border: 1px solid yellow;
	width: 70%;
	height: 20px;
	line-height: 20px;
	text-align: right;
	padding-right: 15px;
	
	*position:relative;
	
	/*-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;*/
	
	-webkit-border-radius: 15px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius: 15px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	border-radius: 15px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	
}

.skillbar-title span {
	display:block;
	
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height: 20px;
	width:0px;
	margin-top: -20px;
	
	background-color: #91bf58; 
	background-image: url(images/linear_bg_1.png); 
	background-repeat: repeat-y; 
	/* Safari 4-5, Chrome 1-9 */ 
	background: -webkit-gradient(linear, left top, right top, from(#91bf58), to(#005574)); 
	/* Safari 5.1, Chrome 10+ */ 
	background: -webkit-linear-gradient(left, #91bf58, #005574); 
	/* Firefox 3.6+ */ 
	background: -moz-linear-gradient(left, #91bf58, #005574); 
	/* IE 10 */ 
	background: -ms-linear-gradient(left, #91bf58, #005574); 
	/* Opera 11.10+ */ 
	background: -o-linear-gradient(left, #91bf58, #005574);

	
	*border-radius:3px;
	*-moz-border-radius:3px;
	*-webkit-border-radius:3px;
	
	*left:54px;
	*position:absolute;
	
	-webkit-border-radius: 0px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius: 0px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomright: 15px;
	border-radius: 0px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.skill-bar-percent {
	position:absolute;
	width: 40px;
	height: 20px;
	line-height: 20px;
	
	text-align: right;
	*background: pink;
	
	right:-40px;
	top: 0;
	font-size:11px;
	
	
	*color:#ffffff;
	*color:rgba(0, 0, 0, 0.4);
}